notifications:
  email: false
language: python
python:
  - "3.5"
install:
  # - pip install .
  - pip install -r requirements.txt
  - npm install -g jshint
  - npm install -g csslint
  - sudo apt-get install tidy
before_script:
  - if find . -name "*.py" -exec pyflakes {} \; | grep ":"; then exit 1; fi
  - if find . -name "*.py" -exec pep8 {} \; | grep ":"; then exit 1; fi
  - if find . -name "*.js" -exec jshint {} \; | grep ":"; then exit 1; fi
  - if find . -name "*.css" -exec csslint {} \; | grep "problem"; then exit 1; fi
  - if find . -name "*.html" -exec tidy -q {} 2>&1 >/dev/null \; | grep -E 'Warning|Error'; then exit 1; fi
script: 
  pytest