language: python
python:
  - "3.5"
install:
  # - pip install .
  - pip install -r requirements.txt
before_script:
  - if find . -name "*.py" -exec pyflakes {} \; | grep ":"; then exit 1; fi
  - if find . -name "*.py" -exec pep8 {} \; | grep ":"; then exit 1; fi
script: 
  pytest